# JWT Secret Key used for signing and verifying JSON Web Tokens
#JWT_SECRET=

# MongoDB connection string for connecting to the database
#MONGODB_URL=

# Hostname of the mail server used for sending emails
#MAIL_HOST=

# Username of the email account used for sending emails
#MAIL_USER=

# Password of the email account used for sending emails
#MAIL_PASS=

MAIL_HOST = dk.gmail.com
MAIL_USER = dktech@gmail.com
MAIL_PASS = dzgvtybtweasxrqd

JWT_SECRET = "dieksh"
FOLDER_NAME = "DkTech"

RAZORPAY_KEY = rzp_test_t4LUM04KXw6wHc
RAZORPAY_SECRET = DOdtPrjZRxQejIdj1vAzm0MY

CLOUD_NAME = drvlktf2h
API_KEY = 422883961873369
API_SECRET = ao3gCb8il3MJdRecSU2X4gL6GTs

MONGODB_URL = "mongosh "mongodb+srv://dikeshchouhan.xsppdkq.mongodb.net/" --apiVersion 1 --username dikeshchouhan02"
PORT = 4000
